@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Client Details: </h1>

<h2>@Model["client"].Name</h2>
<h5>Stylist: @Model["stylist"].Name</h5>

<!--
<a href='/stylists/@Model["stylist"].id/clients/@Model["client"].id/edit'>Edit this Client</a>-->
<p></p>
<a href='/stylists/@Model["stylist"].id/clients/new'>Add another client</a>
<p></p>
<a href='/stylists'>View all stylists</a>